.title {
    font-size: 50px;
    font-style: oblique;
    width: 60%;
}

h1 {
    font-size: 30px;
    background-color: #77c5b4;
}

h2 {
    background-color: #77c5b4;
}
 p { 
    font-size: 20px
}